{% load static i18n %}
<!-- BANNER -->
<aside class="info-block info-block--background-img">
	<div class="info-block__title">{% trans 'Как собрать игровой пк своими руками' %}</div>
	<a href="pages/article-game-pc/" class="info-block__subtitle">{% trans 'Читать' %}</a>
</aside>
<!--/ BANNER END -->

<!-- BANNER_2 -->
<aside class="info-block info-block--background-img_2">
	<div class="info-block__title">{% trans 'Статья: "Выгодно ли покупать дешевые смартфоны?"' %}</div>
	<a href="{% url 'smartphones-cheap-price' %}" class="info-block__subtitle">{% trans 'Читать' %}</a>
</aside>
<!--/ BANNER_2 END -->