{% load static i18n %}
{% load static %}
<!-- commercial start -->
<!-- Carousel start -->
<section class="carousel-section">
	<!-- Carousel Start -->
	<div class="container">
		<div class="carousel owl-carousel owl-theme" id="carousel-header">
			<div class="carousel-item">
				<h2 class="carousel__item-title">
					{% trans 'Приобретайте товары по нашим выгодным ценам!' %}
				</h2>
				 
				 <div class="carousel__item-text">
				 	<a href="#"><p class="promo-section-item__subtitle">{% trans 'Начать' %}</p></a>
				 </div>
			</div>
			<!-- /.carousel-item -slide#1 -->
			<div class="carousel-item_2">
					<h2 class="carousel__item-title">
						{% trans 'Девочки, записываемся на рассылочку' %} ;)
					</h2>
					 
					 <div class="carousel__item-text">
					 	<a href="#"><p class="promo-section-item__subtitle">{% trans 'Подписаться' %}</p></a>
					 </div>
			</div>
			<!-- /.carousel-item -slide#2 -->
			<div class="carousel-item_3">
					<h2 class="carousel__item-title">
						{% trans 'У нас есть лучшие геймерские клавиатуры' %} ;)
					</h2>
					 <div class="carousel__item-text">
					 	<a href="#"><p class="promo-section-item__subtitle">{% trans 'Смотреть' %}</p></a>
					 </div>
			</div>
			<!-- /.carousel-item -slide#3 -->
		</div>
		<!-- carousel -->
	</div>
	<!--/ .container -->
	<!-- Carousel End -->
</section>
<!--/.carousel-section -->
<section class="promo-section">
	<div class="container">
		<div class="promo-section__row">
			<div class="promo-section__col flex-col-one">
				<a href="#" class="promo-section-item-link-wrapper">
					<div class="promo-section-item">
						<h4 class="promo-section-item__title">Monster bits Space-grey</h4>
						<div class="promo-section-item__subtitle">{% trans 'Старт продаж' %}</div>
						<img class="promo-section-item__img" src="{% static 'img/promo/headphones.png' %}" alt="headphones">
					</div>
				</a>
			</div>
			<!--/ promo-section__col Item#1 -->
			<div class="promo-section__col flex-col-two">
				<a href="/iphone-111592401969" class="promo-section-item-link-wrapper">
					<div class="promo-section-item promo-section-item--background-img promo-section-item--background-img-phone">
						<h4 class="promo-section-item__title">{% trans 'Новый флагман от Apple' %}</h4>
						<div class="promo-section-item__subtitle">{% trans 'Смотреть' %}</div>
					</div>
				</a>
			</div>
			<!--/ promo-section__col Item#2 -->
			<div class="promo-section__col flex-col-three">
				<a href="#" class="promo-section-item-link-wrapper promo-section-item-link-wrapper--column">
					<div class="promo-section-item promo-section-item--small">
						<div class="promo-section-item__img-cell">
							<img src="{% static '/img/promo/music_station.png' %}" alt="">
						</div>
						<div class="promo-section-item__title-cell">
							<h4 class="promo-section-item__title">{% trans 'Качественный звук и исполнение' %}</h4>
						</div>
					</div>
				</a>
				<a href="#" class="promo-section-item-link-wrapper promo-section-item-link-wrapper--column">
					<div class="promo-section-item promo-section-item--small">
						<div class="promo-section-item__img-cell">
							<img src="{% static '/img/promo/watch.png' %}" alt="">
						</div>
						<div class="promo-section-item__title-cell">
							<h4 class="promo-section-item__title">{% trans 'Теперь в два раза наручнее' %} ;)</h4>
						</div>
					</div>
				</a>
			</div>
			<!--/ promo-section__col Item#3 -->
		</div>
	</div>
	<!--/ container -->
</section>
<!--/.promo-section -->
<!-- commercial end -->