<!DOCTYPE html>
{% load static %}
{% load static i18n %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block nocommercial-title %} {% endblock nocommercial-title %}</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap&subset=cyrillic-ext" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
	</head>
<body>
	{% include 'include/header.html' %}

	{% block tabs-plate %}
	{% endblock tabs-plate %}

	{% block product-content %}
		
	{% endblock product-content %}
	{% include 'include/buttons/button-up.html' %}	
	{% include 'include/footer.html' %}
	
	{% block nocommercial-script %}
	{% endblock nocommercial-script %}
</body>
</html>


<!-- <script src="{% static 'js/carousel-photo-slider.js' %}"></script> -->







