{% extends 'account/bases/empty-base.html' %}
{% load static %}

{% block title %}
	Doomarket - Письмо с инструкциями по восстановлению пароля отправлено на Вашу почту
{% endblock title %}

{% block empty_content %}
	<div class="container__sign-in">
		<a href="{% url 'list' %}">
			<div class="logo logo__size">doomarket</div>
		</a>
		<h1>Письмо с инструкциями по восстановлению пароля отправлено</h1>
		<p>Мы отправили Вам по электронной почте инструкцию по установке пароля, если учетная запись с указанным Вами адресом электронной почты существует. Вы должны их получить в ближайшее время. <br>
		Если Вы не получили сообщение с инструкцией по восстановлению, убедитесь в том, что адресс электронной почты привязан к вашему аккаунту, либо проверьте вкладку спам </p>
	</div>
{% endblock empty_content %}

{% block script %}
	<script src="{% static 'js/placeholder/placeholder-reset-view.js' %}"></script>
{% endblock script %}
