{% extends 'account/bases/empty-base.html' %}
{% load static %}

{% block title %}
	Doomarket - Введите новый пароль
{% endblock title %}

{% block empty_content %}
	<div class="container__sign-in">
		<a href="{% url 'list' %}">
			<div class="logo logo__size">doomarket</div>
		</a>

		{% if validlink %}
			<h1>Введите новый пароль</h1>

			<form method="POST">
				{% csrf_token %}
				<div class="tbox">
					{{ form.new_password1 }}
				</div>

				<div class="tbox">
					{{ form.new_password2 }}
				</div>
				<input class="btn" type="submit" name="Change password" value="Изменить пароль">  
			</form>
		
			{% if form.errors %}
				<div class="error-window">{{ form.errors }}
					<div class="message-wrapp">
						<span class="redirect__error"> Исправьте пожалуйста ошибки, либо перейдите на</span>
						<a href="{% url 'list' %}" class="redirect__error">главную страницу</a>	
					</div>
				</div>
			{% endif %}

		{% else %}
			<div class="error-window">
				<div class="message-wrapp">
					<span class="redirect__error"> Измененный пароль не корректен, скорее всего по причине того, что использовался ранее. Пожалуйста введите корректный пароль, либо перейдите на</span>
					<a href="{% url 'list' %}" class="redirect__error">главную страницу</a>	
				</div>
			</div>	
		{% endif %}
		
		<a class="b3" href="{% url 'login' %}">Не хочу менять пароль</a>
	</div>
	<!-- /.container -->
{% endblock empty_content %}

{% block script %}
	<script src="{% static 'js/placeholder/placeholder-confirm-view.js' %}"></script>
{% endblock script %}



