{% extends 'account/bases/empty-base.html' %}
{% load static %}

{% block title %}
	Doomarket - Восстановление пароля
{% endblock title %}

{% block empty_content %}
	<div class="container__sign-in">
		<a href="{% url 'list' %}">
			<div class="logo logo__size">doomarket</div>
		</a>
		<h1>Восстановление пароля</h1>
		<p>Забыли пароль? Введите ниже свой адрес электронной почты, к которому привязан Ваш аккаунт и мы пришлем Вам инструкцию по установке нового пароля.</p>

		<form method="POST">
			{% csrf_token %}
				<div class="tbox">
					{{ form.email }}
				</div>
			<input class="btn" type="submit" value="Восстановить">
		</form>
	</div>
{% endblock empty_content %}

{% block script %}
	<script src="{% static 'js/placeholder/placeholder-reset-view.js' %}"></script>
{% endblock script %}
