{% load static %}
<!-- subcategory-list  start-->
<nav class="navigation">
	<ul class="navigation__list">
		<li class="navigation__item">
				{% if subcategory.icon_field %}
				    <img src="{{ subcategory.icon_field.url }}" class="navigation__item-icon">
				{% else %}
				   <img src="{% static 'img/nav-icons/d.png' %}" class="navigation__item-icon">
				{% endif %}
			<div class="navigation__item-title">{{ subcategory.alias }}</div>
			<div class="navigation__item-arrow">
				<svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="1.999 1 6.001 10">
					<path paint-order="stroke fill markers" fill-rule="evenodd" d="M8 6.002L5 1H2.125l3.018 5.002L1.999 11H5l3-4.998z"/>
				</svg>
			</div>
		</li>
	</ul>
</nav>
	<ul>
		{% for producttype in view.get_product_type_by_subcategory %}
			<a href="{{ producttype.get_absolute_url }}"><li class="product__description-min-list-content subcategories-list">{{ producttype.alias }}</li></a>
		{% endfor %}
	</ul>
<hr>
<!-- subcategory-list  end-->